.hero
  background: $color.primary
  min-height: calc(100vh - 70px)
  color: $color.light

  img
    max-height: calc(100vh - 150px)
    max-width: 90%
    width: auto
    height: auto
    box-shadow: 0 0 20px rgba(0,0,0,.2)