
.row
  &-flex
    display: flex
    flex-wrap: wrap

+responsive()
  &span
    for num in (1..$layout.cols)
      &-{num}
        width: num * (100 / $layout.cols)%
        display: block
        float: left
