// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
dd,
dt,
li
	margin-bottom: 1.0rem

fieldset,
input,
select,
textarea
	margin-bottom: 1.5rem

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul
	margin-bottom: 2.5rem

+responsive()
	for mode in p m

		if mode == m
			$attr = margin
		if mode == p
			$attr = padding

		&{mode}
			$tmp = 0

			for size in (0..$layout.spacingSteps)

				if size == 1
					$tmp = $layout.spacingBase

				$tmp = round($tmp * $layout.spacingMultiplyer, 3)

				&a-{size}
					{$attr}: $tmp

				for side in t l r b
					if side == l
						$pside = left
					if side == r
						$pside = right
					if side == b
						$pside = bottom
					if side == t
						$pside = top

					&{side}-{size}
						{$attr}-{$pside}: $tmp

				for dir in v h
					if dir == v
						$pside1 = top
						$pside2 = bottom
					if dir == h
						$pside1 = left
						$pside2 = right

					&{dir}-{size}
						{$attr}-{$pside1}: $tmp
						{$attr}-{$pside2}: $tmp