{{use
  btn: part.form_inputs.button
}}
<div class="hero x-cv
  pa-1 m/pa-2">
  <div class="center">
    <div class="x x-col l/x-row x-cv">
      <div class="m/span-12 l/span-4
        x-ca
        ph-1">
        <h1><%= title %></h1>
      </div>
      <div class="m/span-6 l/span-4
        x-ca">
        <img src="<%= image %>" class="block" />
      </div>
      <div class="m/span-6 l/span-4
        x-cv x-col
        pa-1">
        <p><%= text %></p>
        <btn theme="light">More</btn>
      </div>
    </div>
  </div>
</div>
