<div class="hero">
  <div class="center">
    <div class="row-flex">
      <div class="span-4 ac-a ph-2">
        <h1><%= faker.lorem.sentence() %></h1>
      </div>
      <div class="span-4">
        <img src="http://via.placeholder.com/600x1000" class="block" />
      </div>
      <div class="span-4 ac-v pa-2">
        <p><%= faker.lorem.paragraph() %></p>
      </div>
    </div>
  </div>
</div>