<div class="hero ac-v">
  <div class="center">
    <div class="row-flex">
      <div class="span-12 span-4@m ac-a ph-2">
        <h1><%= title %></h1>
      </div>
      <div class="span-12 ac-a">
        <img src="<%= image %>" class="block" />
      </div>
      <div class="span-12 ac-v pa-2">
        <p><%= text %></p>
      </div>
    </div>
  </div>
</div>