responsive()
  .
    {block}

  +above('s')
    .s\\/
      {block}

  +above('m')
    .m\\/
      {block}

  +above('l')
    .l\\/
      {block}

  +above('xl')
    .xl\\/
      {block}

  +above('xxl')
    .xxl\\/
      {block}

  // +above('m')
  //   for num in (1..$layout.cols)
  //     &-{num}\\@{'m'}
  //       width: num * (100 / $layout.cols)%
  //       display: block
  //       float: left

  // +above('l')
  //   for num in (1..$layout.cols)
  //     &-{num}\\@{'l'}
  //       width: num * (100 / $layout.cols)%
  //       display: block
  //       float: left

  // +above('xl')
  //   for num in (1..$layout.cols)
  //     &-{num}\\@{'xl'}
  //       width: num * (100 / $layout.cols)%
  //       display: block
  //       float: left

  // +above('xxl')
  //   for num in (1..$layout.cols)
  //     &-{num}\\@{'xxl'}
  //       width: num * (100 / $layout.cols)%
  //       display: block
  //       float: left
