rupture.scale =       0     480px   600px   767px   1023px    1310px
rupture.scale-names = 'xs'  's'     'm'      'l'    'xl'      'xxl'

/*
  How Rupture handles "slices"

  Breakpoint:   0        480px     600px     767px     1023px     1310px
                ├──────────┼─────────┼─────────┼──────────┼───────────┼─────────>
  Slice #:           0          1         2          3          4         5
                    'xs'       's'       'm'        'l'        'xl'      'xxl'
*/