$color := {
  primary: #3096a7
  secondary: #606c76
  tertiary: rgba(0,0,0,.2)
  light: #fff
  dark: #222
}

for i in (1..3)
  $color['secondary_l' + i] = lighten($color.secondary, i * 3)
for i in (1..3)
  $color['secondary_d' + i] = darken($color.secondary, i * 3)

for i in (1..3)
  $color['primary_l' + i] = lighten($color.primary, i * 3)
for i in (1..3)
  $color['primary_d' + i] = darken($color.primary, i * 3)
