<div class="center">
  <div class="image js-image pa-2">
    <h1>Image, <%= faker.name.findName() %></h1>
    <h2><%= items.join(', ') %></h2>
    <p>
      <% for (let i = 0; i < 30; i++) { %>
        text
      <% }; %>
    </p>
  </div>
</div>
