<div class="image">
  <h1>Image</h1>
  <%= things.join(", ")  %>
  <% for (let i = 0; i < 2000; i++) { %>
    Heyyyy <%= i %>
  <% } %>
  <img src="http://lorempixel.com/400/200/animals/1/" />
</div>
