{{components
  dropdown: form_inputs.select,
  text: form_inputs.text,
  btn: form_inputs.button
}}
<form action="demo">
  <div class="grid">
    <h1>{{name}}</h1>
    <% for (let i = 0; i < inputs.length; i++) {  %>
      <div class="col">
        <text placeholder="<%= i + ' Text :)' %>"></text>
      </div>
    <% }; %>
    <div class="col">
      <dropdown></dropdown>
    </div>
  </div>

  <btn>Send</btn>
</form>
