{{use
  dropdown: part.form_inputs.select,
  text: part.form_inputs.text,
  btn: part.form_inputs.button
}}
<form action="demo">
  <div class="grid">
    <% for (let i = 0; i < inputs.length; i++) {  %>
      <div class="col">
        <text />
      </div>
    <% }; %>
    <div class="col">
      <dropdown />
    </div>
  </div>

  <btn />
</form>
