{{define
  demoform: layout.demo_form
}}
<div class="component">
  <div class="center">
    <div class="form_wrap">
      <% var name = 'Contact Form' %>
      <demoform name="<%= name %>"></demoform>
    </div>
  </div>
</div>
