{{use
  demoform: layout.demo_form,
  btn: part.form_inputs.button
}}
<div class="component">
  <div class="center">
    <div class="form_wrap">
      <h1>contact</h1>
      <demoform></demoform>
    </div>
  </div>
</div>
