+responsive()
  &x
    display: flex

    &-w
      flex-wrap: wrap

    &-c // align content
      &v, // vertical
      &a
        display: flex
        align-items: center
      &h, // horizontal
      &a
        display: flex
        justify-content: center
