+responsive()
  &x
    display: flex

    &-wrap
      display: flex
      flex-wrap: wrap

    &-c // align content
      &v, // vertical
      &a
        display: flex
        align-items: center

      &h, // horizontal
      &a
        display: flex
        justify-content: center

    &-col // column
      flex-direction: column
      &-r // x-dc-r / column reverse
        flex-direction: column-reverse

    &-row // row
      flex-direction: row
      &-r // x-dr-r / row reverse
        flex-direction: row-reverse

    // flex: 1..12 classes
    // x-1 ... x-12
    for num in (1..12)
      &-{num}
        flex: num
