<div class="navigation">
  <nav>
    <ul>
      <% generatedNavigation.main.forEach(item => { %>
        <li><a href="<%= item.slug || '/' %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
  </nav>
</div>
