responsive()
  .
    {block}

  +above('s')
    .s\\/
      {block}

  +above('m')
    .m\\/
      {block}

  +above('l')
    .l\\/
      {block}

  +above('xl')
    .xl\\/
      {block}

  +above('xxl')
    .xxl\\/
      {block}
