<div class="form-row">
  <div class="input-type--text">
    <select type="text" placeholder="Text">
      <option value="1">Select</option>
      <option value="2">Select 2</option>
      <option value="3">Select 3</option>
    </select>
  </div>
</div>