<div class="nav--container">
  <nav class="nav">
    <ul class="nav__list">
      <% autoNav.main.forEach(item => { %>
        <li class="nav__list__item">
          <a href="<%= item.slug || '/' %>" class="nav__link"><%= item.name %></a>
        </li>
      <% }) %>
    </ul>
  </nav>
</div>
