<div class="color-bg-secondary_d3">.color-bg-secondary_d3</div>
<div class="color-bg-secondary_d2">.color-bg-secondary_d2</div>
<div class="color-bg-secondary_d1">.color-bg-secondary_d1</div>
<div class="color-bg-secondary">.color-bg-secondary</div>
<div class="color-bg-secondary_l1">.color-bg-secondary_l1</div>
<div class="color-bg-secondary_l2">.color-bg-secondary_l2</div>
<div class="color-bg-secondary_l3">.color-bg-secondary_l3</div>

<div class="color-bg-primary_d3">.color-bg-primary_d3</div>
<div class="color-bg-primary_d2">.color-bg-primary_d2</div>
<div class="color-bg-primary_d1">.color-bg-primary_d1</div>
<div class="color-bg-primary">.color-bg-primary</div>
<div class="color-bg-primary_l1">.color-bg-primary_l1</div>
<div class="color-bg-primary_l2">.color-bg-primary_l2</div>
<div class="color-bg-primary_l3">.color-bg-primary_l3</div>