<div class="color-bg-2_d3">.color-bg-2_d3</div>
<div class="color-bg-2_d2">.color-bg-2_d2</div>
<div class="color-bg-2_d1">.color-bg-2_d1</div>
<div class="color-bg-2">.color-bg-2</div>
<div class="color-bg-2_l1">.color-bg-2_l1</div>
<div class="color-bg-2_l2">.color-bg-2_l2</div>
<div class="color-bg-2_l3">.color-bg-2_l3</div>

<div class="color-bg-1_d3">.color-bg-1_d3</div>
<div class="color-bg-1_d2">.color-bg-1_d2</div>
<div class="color-bg-1_d1">.color-bg-1_d1</div>
<div class="color-bg-1">.color-bg-1</div>
<div class="color-bg-1_l1">.color-bg-1_l1</div>
<div class="color-bg-1_l2">.color-bg-1_l2</div>
<div class="color-bg-1_l3">.color-bg-1_l3</div>