<div class="c-bg-secondary_d3">.c-bg-secondary_d3</div>
<div class="c-bg-secondary_d2">.c-bg-secondary_d2</div>
<div class="c-bg-secondary_d1">.c-bg-secondary_d1</div>
<div class="c-bg-secondary">.c-bg-secondary</div>
<div class="c-bg-secondary_l1">.c-bg-secondary_l1</div>
<div class="c-bg-secondary_l2">.c-bg-secondary_l2</div>
<div class="c-bg-secondary_l3">.c-bg-secondary_l3</div>

<div class="c-bg-primary_d3">.c-bg-primary_d3</div>
<div class="c-bg-primary_d2">.c-bg-primary_d2</div>
<div class="c-bg-primary_d1">.c-bg-primary_d1</div>
<div class="c-bg-primary">.c-bg-primary</div>
<div class="c-bg-primary_l1">.c-bg-primary_l1</div>
<div class="c-bg-primary_l2">.c-bg-primary_l2</div>
<div class="c-bg-primary_l3">.c-bg-primary_l3</div>
